<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename="css/styles.css")}}">
    <link rel="icon" href="{{ url_for('static', filename='img/icon.png') }}" type="image/x-icon">
    <title>Precheck.in</title>

    <script src="https://kit.fontawesome.com/ecaf831147.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="whole">
        <div class="container" id="personaldetails">
            <form class="form" method="post" action="{{ url_for('edit_submit', token=person.id) }}"></form>
                <span class="form-head">Edit Personal Details</span>
                <div class="form-row">
                    <div class="form-group">
                        <label for="name">Full Name</label>
                        <input type="text" id="name" name="name" placeholder="Enter name" required value="{{ person.name }}">
                    </div>
                    <div class="form-group">
                        <label for="dob">Date of Birth</label>
                        <input type="date" id="dob" name="dob" required value="{{ person.dob|strftime('%Y-%m-%d') if person.dob }}">
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" placeholder="Enter email" required value="{{ person.email }}">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label for="mobile">Mobile Number</label>
                        <input type="tel" id="mobile" name="mobile" placeholder="Enter mobile number" required value="{{ person.mobile }}">
                    </div>
                    <div class="form-group">
                        <label for="gender">Gender</label>
                        <select class="field" name="gender" id="gender">
                            <option value="Male" {% if person.gender == 'Male' %}selected{% endif %}>Male</option>
                            <option value="Female" {% if person.gender == 'Female' %}selected{% endif %}>Female</option>
                            <option value="Others" {% if person.gender == 'Others' %}selected{% endif %}>Others</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="bloodGroup">Blood Group</label>
                        <select class="field" name="blood_group" id="bloodGroup">
                            <option value="A+" {% if person.blood_group == 'A+' %}selected{% endif %}>A+</option>
                            <option value="A-" {% if person.blood_group == 'A-' %}selected{% endif %}>A−</option>
                            <option value="B+" {% if person.blood_group == 'B+' %}selected{% endif %}>B+</option>
                            <option value="B-" {% if person.blood_group == 'B-' %}selected{% endif %}>B−</option>
                            <option value="AB+" {% if person.blood_group == 'AB+' %}selected{% endif %}>AB+</option>
                            <option value="AB-" {% if person.blood_group == 'AB-' %}selected{% endif %}>AB−</option>
                            <option value="O+" {% if person.blood_group == 'O+' %}selected{% endif %}>O+</option>
                            <option value="O-" {% if person.blood_group == 'O-' %}selected{% endif %}>O−</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label for="aadharNum">Aadhar Number</label>
                        <input type="number" id="aadharNum" name="aadharNum" placeholder="Enter Aadhar Number" required value="{{ person.aadharNum }}">
                    </div>
                    <div class="form-group">
                        <label for="reason">Reason</label>
                        <input type="text" id="reason" name="reason" placeholder="Enter reason" disabled value="{{ person.reason }}">
                    </div>
                </div>
                <button class="register-button" type="submit">update</button>
            </form>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/flexsearch@0.7.31/dist/flexsearch.bundle.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
