<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename="css/styles.css")}}">
    <script src="https://kit.fontawesome.com/ecaf831147.js" crossorigin="anonymous"></script>
</head>
<body>
    

        <div class="doctor-head margin-up margin-bottom">
            <span>Waiting Patients</span>
            {% for patient in queue %}
            <div class="queuecontainer">
                <div class="form-row">
                    <div class="form-group">
                        <label for="token-{{ patient.token }}">Token</label>
                        <input type="text" id="token-{{ patient.token }}" name="token" value="{{ patient.token }}" disabled>
                    </div>
                    <div class="form-group">
                        <label for="name-{{ patient.token }}">Full Name</label>
                        <input type="text" id="name-{{ patient.token }}" name="name" value="{{ patient.name }}" disabled>
                    </div>
                    
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label for="reason-{{ patient.token }}">Reason</label>
                        <input type="text" id="reason-{{ patient.token }}" name="reason" value="{{ patient.symptoms }}" disabled>
                    </div>
                </div>
            </div>
            {% endfor %}


            <span style="margin-top: 20px;">Seen Patients</span>
            {% for patient in seen %}
            <div class="queuecontainer">
                <div class="form-row">
                    <div class="form-group">
                        <label for="token-{{ patient.token }}">Token</label>
                        <input type="text" id="token-{{ patient.token }}" name="token" value="{{ patient.token }}" disabled>
                    </div>
                    <div class="form-group">
                        <label for="name-{{ patient.token }}">Full Name</label>
                        <input type="text" id="name-{{ patient.token }}" name="name" value="{{ patient.name }}" disabled>
                    </div>
                    
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label for="reason-{{ patient.token }}">Reason</label>
                        <input type="text" id="reason-{{ patient.token }}" name="reason" value="{{ patient.symptoms }}" disabled>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    
    
    <script src="https://cdn.jsdelivr.net/npm/flexsearch@0.7.31/dist/flexsearch.bundle.js"></script>
    <script src="{{ url_for('static', filename="js/script.js")}}"></script>
</body>
</html>