<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename="css/styles.css")}}">
    <link rel="icon" href="{{ url_for('static', filename='img/icon.png') }}" type="image/x-icon">
    <title>Precheck.in</title>
    <script src="https://kit.fontawesome.com/ecaf831147.js" crossorigin="anonymous"></script>
</head>
<body>
    
    
        <div class="token-edit-holder margin-up" id="token-edit-holder">
            <div class="token-edit">
                <div class="token">
                    <span class="tok-head">Token number</span>
                    <span class="tok-num">{{ patient.token }}</span>
                </div>
                <div class="edit">
                    <span class="edit-head">The details will be forwarded to the selected NHC</span>
                    <div class="edit-answers" onclick='window.location.href="/edit_answers/{{patient.id}}"'>
                        <span>edit answers</span>
                        <i class="fas fa-edit"></i>
                    </div>
                </div>
            </div>
            <div class="edit-personal" onclick='window.location.href="/edit_submit/{{patient.id}}"'>
                <span >edit personal details</span>
                <i class="fas fa-edit"></i>
            </div>
        </div>
     
    
    <script src="https://cdn.jsdelivr.net/npm/flexsearch@0.7.31/dist/flexsearch.bundle.js"></script>
    <script src="{{ url_for('static', filename="js/script.js")}}"></script>

</body>
</html>